:root{--module:#ff9d19}.mc:hover{border-color:#ff9d19}
.mc{display:block}.mc em{display:block;margin-top:12px;color:var(--module);font-size:11px;font-style:normal;font-weight:700}.mc:hover{border-color:var(--module)}
