:root{--module:#18c8ff}.mc:hover{border-color:#18c8ff}
.mc{display:block}.mc em{display:block;margin-top:12px;color:var(--module);font-size:11px;font-style:normal;font-weight:700}.mc:hover{border-color:var(--module)}
